img {
    width: 100%;
    display: block;
    margin: 0 auto;

}

h1 {
    text-align: center; 
    color: white;
    margin: 50px 0;
}

h2 {
    text-align: center;
    margin: 25px auto;
    font-size: 16px;
    color: white;
    
}

h3 {
    text-align: center;
    margin: 05px auto;
    color: white;
}

h4 {
    text-align: center;
    width: 65%;
    font-size: 30px;
    margin: 55px auto;
    color: white;
}

nav {
    background-color: steelblue;
    padding: 25px;
    text-align: center;
}

a {
    color: white;
    padding: 25px;
}

main p {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-size: large;
}

footer p {
    font-size: 18px;
    margin: 10px auto;
    text-align: center;
}

nav, footer {

    color: white;
    padding: 25px;
    width: fit-content;
    display: block;

}

a:hover {
    background-color: white;
    color: steelblue;
}

body {
    background-color: darkgray;
    margin: 0;
}